<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129398150835-9spr3nqie8g1qhnmf78gptph3npgeh82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129398150835-9spr3nqie8g1qhnmf78gptph3npgeh82</string>
	<key>API_KEY</key>
	<string>AIzaSyCN0GWQjmHrWkQDi7l4T6PByxs76e2a-Rc</string>
	<key>GCM_SENDER_ID</key>
	<string>129398150835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ravilsimform.NoteAppDemo</string>
	<key>PROJECT_ID</key>
	<string>notedemoapp</string>
	<key>STORAGE_BUCKET</key>
	<string>notedemoapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129398150835:ios:1e675ffd83fc6e670182c6</string>
</dict>
</plist>